<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>Authentication</filter-name>
        <filter-class>Filter.Authentication</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ProductsController</servlet-name>
        <servlet-class>controller.ProductsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopController</servlet-name>
        <servlet-class>controller.ShopController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopDetailController</servlet-name>
        <servlet-class>controller.ShopDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllFeedbackController</servlet-name>
        <servlet-class>controller.ViewAllFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitFeedbackControl</servlet-name>
        <servlet-class>controller.SubmitFeedbackControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFeedbackDetailController</servlet-name>
        <servlet-class>controller.ViewFeedbackDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountManagerController</servlet-name>
        <servlet-class>controller.AccountManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAccountController</servlet-name>
        <servlet-class>controller.EditAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountController</servlet-name>
        <servlet-class>controller.DeleteAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchInAccountController</servlet-name>
        <servlet-class>controller.searchInAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompareProducts</servlet-name>
        <servlet-class>controller.CompareProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompareProductFinal</servlet-name>
        <servlet-class>controller.CompareProductFinal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompareByAjax</servlet-name>
        <servlet-class>controller.CompareByAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFeedbackController</servlet-name>
        <servlet-class>controller.DeleteFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagingController</servlet-name>
        <servlet-class>controller.PagingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailBlogController</servlet-name>
        <servlet-class>controller.DetailBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikeBlogController</servlet-name>
        <servlet-class>controller.LikeBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisLikeBlogController</servlet-name>
        <servlet-class>controller.DisLikeBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DislikeFavoriteController</servlet-name>
        <servlet-class>controller.DislikeFavoriteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewlistfavoriteController</servlet-name>
        <servlet-class>controller.ViewlistfavoriteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitCommentControl</servlet-name>
        <servlet-class>controller.SubmitCommentControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductsController</servlet-name>
        <url-pattern>/ProductsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopController</servlet-name>
        <url-pattern>/ShopController</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>ShopController</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>ShopDetailController</servlet-name>
        <url-pattern>/ShopDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllFeedbackController</servlet-name>
        <url-pattern>/ViewAllFeedbackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitFeedbackControl</servlet-name>
        <url-pattern>/SubmitFeedbackControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFeedbackDetailController</servlet-name>
        <url-pattern>/ViewFeedbackDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountManagerController</servlet-name>
        <url-pattern>/AccountManagerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAccountController</servlet-name>
        <url-pattern>/EditAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountController</servlet-name>
        <url-pattern>/DeleteAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchInAccountController</servlet-name>
        <url-pattern>/searchInAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompareProducts</servlet-name>
        <url-pattern>/CompareProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompareProductFinal</servlet-name>
        <url-pattern>/CompareProductFinal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompareByAjax</servlet-name>
        <url-pattern>/CompareByAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFeedbackController</servlet-name>
        <url-pattern>/DeleteFeedbackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagingController</servlet-name>
        <url-pattern>/PagingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailBlogController</servlet-name>
        <url-pattern>/DetailBlogController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikeBlogController</servlet-name>
        <url-pattern>/LikeBlogController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisLikeBlogController</servlet-name>
        <url-pattern>/DisLikeBlogController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DislikeFavoriteController</servlet-name>
        <url-pattern>/DislikeFavoriteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewlistfavoriteController</servlet-name>
        <url-pattern>/ViewlistfavoriteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitCommentControl</servlet-name>
        <url-pattern>/SubmitCommentControl</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
